body {
  background-color: #DBD4D3;
  font-family: arial, sans-serif;
  color: #393F41;
}

.wrapper {
  background: #ffffff;
  width: 92%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1, h2 {
  color: #820F0D;
}

blockquote {
  border-left: 4px solid #D18F23;
  padding: 12px;
  background-color: #f9f9f9;
  margin-left: 0;
}

.image {
  text-align: center;
}

.caption {
  font-style: italic;
}
a {
  color: #E54F6D;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 20px;
}
